.strike {
    text-decoration: line-through;
}

.red {
    color: red;
}

/* borders around all images used in figures */
div.figure > img,
div.graphviz > img.graphviz {
    border: solid lightgray 1px;
}

pre.literal-block {
    font-size: 12px;
    line-height: normal;
    padding: 12px !important;
}

/* We do not want tables/code to be arbitrarily truncated after 800px   *
 * forcing people to scroll sideways …                                  */
.wy-nav-content {
  max-width: none;
}

/* … but we still want text to be wrapped and width of admonitions (tips,  *
 * warnings, notes, …) to be limited.                                      */
p, .admonition {
  max-width: 800px;
}

/* Allow text in tables to wrap and add space between paragraphs. *
 * Scrolling is just too unpleasant.                              */
table.docutils td > p:not(:last-child),
table.docutils th > p:not(:last-child) {
    margin-bottom: 15px !important;
}
table.docutils td,
table.docutils th {
    white-space: normal;
}

@media only screen {
    .wy-nav-content-wrap,
    .wy-nav-content {
        background: #f0f0f0;
    }
}

@media print {
    .build-pipeline-status {
        display: none;
    }
}
.build-pipeline-status {
    float: right;
}
